attrs==21.2.0
coverage==5.5
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1620668104928/work
importlib-metadata @ file:///Users/runner/miniforge3/conda-bld/importlib-metadata_1630267518765/work
iniconfig==1.1.1
mccabe==0.6.1
packaging==21.0
pluggy==1.0.0
py==1.10.0
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1615833610040/work
pyflakes @ file:///home/conda/feedstock_root/build_artifacts/pyflakes_1616623675904/work
pyparsing==2.4.7
pytest==6.2.5
pytest-cov==2.12.1
toml==0.10.2
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1625284368454/work
